@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(12, 12, 12);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.neumorphism{
  border-radius: 50px;
  background: linear-gradient(315deg, #cacaca, #f0f0f0);
  box-shadow:  -20px -20px 60px #a6a6a6,
             20px 20px 60px #ffffff;
}
